<!DOCTYPE html>
<html lang="en">
{% extends 'studentindex.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>


.congratulations h4 {
    color: #28a745; /* Green color */
}

</style>
</head>
<body>
{% block content %}
<div class="col-13 grid-margin stretch-card">
    <div class="card" style="background-color: gray;">
        <div class="card-body">
            <h4 class="card-title" style="color: black;">Course Details</h4>
            <form class="forms-sample" method="post" action="{% url 'submission_form' course=course_data.CourseId %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Course name :</label>
                        <div class="col-sm-9">
                            <h6 class="fw-bold">{{ course_data.CourseName }}</h6>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Department Name :</label>
                        <div class="col-sm-9">
                            <h6 class="fw-bold">{{ course_data.DeptId.DeptName }}</h6>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Description:</label>
                        <div class="col-sm-9">
                            <p style="font-size:15px;">{{ course_data.Description }}</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Duration:</label>
                        <div class="col-sm-9">
                            <p style="font-size:15px;">{{ course_data.Duration }}</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Total Cost:</label>
                        <div class="col-sm-9">
                            <p style="font-size:15px;">{{ course_data.Cost }}</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Admission Fee:</label>
                        <div class="col-sm-9">
                            <p style="font-size:15px;">{{ course_data.AdmissionFee }}</p>
                        </div>
                    </div>

                    {% if applied %}
                    <button class="btn btn-success mr-2 btn-rounded" disabled>Applied</button>
                    {% else %}
                    {% if not payed2 %}
                    {% if not placed %}
                    <button class="btn btn-primary mr-2 btn-rounded">Apply course</button>
                    {% endif %}
                    {% endif %}

                    {% endif %}
                </div>
            </form>
            <div style="padding-top:0px;">
                {% if not placed %}
                {% if score.score > 12 %}
                <button class="btn btn-success mr-2 btn-rounded" disabled>Passed</button>
                {% if not payed %}
                <a href="{% url 'payment_page' course_id=course_data.CourseId %}">
                    <button class="btn btn-danger mr-2 btn-rounded">Course Payment</button>
                </a>
                {% else %}
                <button class="btn btn-success mr-2 btn-rounded" disabled>Course payment completed</button>
                {% endif %}
                {% else %}

                {% if applied %}
                <a href="{% url 'take_test' course_id=course_data.CourseName %}">
                    <button class="btn btn-primary mr-2 btn-rounded">Try Again</button>
                </a>
                {% endif %}

                {% endif %}
                {% if payed %}
                {% if payed4 %}
                <a href="{% url 'select_room' %}">
                    <button class="btn btn-primary mr-2 btn-rounded">Select room</button>
                </a>
                {% else %}
                <button class="btn btn-success mr-2 btn-rounded" disabled>hostel room booking completed</button>
                {% endif %}
                {% if not payed3 %}
                <a href="{% url 'bus_booking' %}">
                    <button class="btn btn-primary mr-2 btn-rounded">Bus booking</button>
                </a>
                {% else %}
                <button class="btn btn-success mr-2 btn-rounded" disabled>bus booking completed</button>
                {% endif %}
                {% endif %}
                {% else %}
                <div class="congratulations" style=" text-align: center; margin-top: 20px; color: #59eb3f   ;">
                    <h4>Congratulations! You have been placed.</h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


                    <div class="row mb-3" style="background-color: #f04035;  padding: 15px; border-radius: 10px;">
                        <h4 style="color: white; text-align: center;">*NOTE</h4>
                        <hr style="border-color: white;">
                        <div class="col-sm-12">
                            <p style="color: white; font-size: 16px; text-align: left;">
                                <strong>Instructions for MCQ Test:</strong><br>
                                This is to inform you that there will be an MCQ test conducted after applying for the course to assess your knowledge on the course you applied for.
                                There will be 15 questions asked, and each question carries 1 mark. You need to score 12 marks to pass this test. The duration to complete this test will be 1 minute.
                                Passed candidates will receive an email regarding their scheduled date for the interview to complete the process.
                            </p>
                        </div>
                    </div>

{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>